.pokecard {
    width: 13.5rem;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);   
    text-align: center; 
    background-color: white;
    border-radius: 3px;
}

.pokecard-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.pokecard-data {
    font-size: 80%;
}

.pokecard-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: rgba(230, 243, 243, 0.877);
    border-radius: 3px;
    margin-bottom: 1rem;
}

.pokecard img {
    transition: all ease 500ms;
}

.pokecard img:hover {
    transform: scale(1.25);
    opacity: 0.7;
}